.trendings-list {
  padding-top: 20px;
  margin: 0 auto 40px auto;

  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row !important;

    max-width: 900px;
  }

  @media screen and (min-width: 880px) {
    justify-content: start !important;
  }
}
.trendings-list,
.trendings-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trendings-list .item {
  transition: 350ms ease transform;
  &:hover {
    transform: scale(1.025);

    @media screen and (min-width: 768px) {
      transform: scale(1.05);
    }
  }
}

.film-poster {
  width: 280px;
  height: 400px;

  border-radius: 10px;

  margin-bottom: 10px;
}

.film-about {
  width: 100%;

  font-size: 14px;
}

.film-subtitle {
  color: #ff6b08;
}
