header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  padding: 40px 20px;
}
header nav {
  display: flex;
  align-items: center;

  text-transform: uppercase;
}

header nav a:first-child {
  margin-right: 113px;
}

header nav a:nth-child(2) {
  margin-right: 40px;
}
