@import "/src/scss/variables.scss";
header nav {
  display: flex;
  align-items: center;

  text-transform: uppercase;

  // @media screen and (min-width: 768px) {
  //   padding-left: 40px;
  // }
}

// styles applied for all <a> links except link with .js-logo class
header nav a:not(.js-logo)::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;

  transition-property: width, background-color;
  transition-duration: 350ms;
  transition-timing-function: ease;
}
header nav a.active {
  &::after {
    width: 100%;

    background-color: $active-color;
  }
}

header nav a:first-child {
  margin-right: 113px;
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
    margin-right: 400px;
  }
}

header nav a:nth-child(2) {
  margin-right: 40px;
}
