@import "/src/scss/variables.scss";
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
}

// styles applied for all <a> links except link with .js-logo class
header nav a:not(.js-logo)::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;

  transition-property: width, background-color;
  transition-duration: 350ms;
  transition-timing-function: ease;
}
header nav a.active {
  &::after {
    width: 100%;

    background-color: $active-color;
  }
}

.js-logo {
  flex-direction: row !important;
  gap: 10px;
}
header nav a:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.links-container {
  display: flex;
  gap: 40px;
}
