@import "/src/scss/variables.scss";
.SearchBar {
  width: 280px;
  height: 20px;

  font-size: 14px;

  background: transparent;
  border: transparent;
  outline: none;
  border-bottom: 0.5px solid #ffffff;

  color: $header-text-color;

  &::placeholder {
    color: $header-text-color;
  }
}

.searchBar-label {
  display: flex;

  position: relative;
}

.loop {
  position: absolute;
  right: 10px;
}
